.container {
  background: var(--background-dark);
  padding: 5rem;
}

.imageContainer {
  margin: 0 auto;
  width: 50%;

  display: flex;
  justify-content: center;
}

.myImage {
  border-radius: 50%;
  margin: 0 auto;

  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation-duration: 2s;
  animation-delay: 1s;
}

.name {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
}

.title {
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
}

.para {
  font-size: 1.1rem;
  line-height: 35px;
  text-align: justify;
  color: var(--text-color-third);
}

.section {
  max-width: 600px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 16px;
  padding: 2rem;
  margin-top: 1rem;

  background: var(--background-color);
  box-shadow: var(--box-shadow);
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
